$sidebar-bg-color: #fff !default;
$sidebar-color: #000 !default;
$sidebar-width: 250px !default;
$sidebar-collapsed-width: 80px !default;
$highlight-color: #4c4c4c !default;
$submenu-bg-color: #fff !default;
$submenu-bg-color-collapsed: #fff !default;
$icon-bg-color: #fff !default;
$icon-size: 35px !default;

$breakpoint-xs: 480px !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;
